.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Keep content at the start */
  align-items: center; /* Center items horizontally */
  text-align: center;
  background-color: #f9f9f9; /* Background color */
  padding-top: 20px; /* Adjust top padding for spacing */
  padding-bottom: 50px; /* Extra padding at the bottom for spacing */
}

.company-logo-container {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center logo horizontally */
  align-items: flex-start; /* Align logo at the top */
  margin-bottom: 100px; /* Space below the logo */
}

.company-logo {
  width: 280px; /* Adjust logo size */
  height: auto; /* Maintain aspect ratio */
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 70px; /* Circular profile photo */
  margin-bottom: 40px; /* Space below profile photo */
  
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.logout-button,
.edit-button {
  margin-top: 20px; /* Space above the button */
  padding: 10px 20px; /* Padding around the text */
  font-size: 16px; /* Font size */
  color: white; /* Text color */
  background-color: #007bff; /* Button color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer */
}

.logout-button:hover,
.edit-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

form {
  display: flex;
  flex-direction: column; /* Stack inputs vertically */
  margin-top: 20px; /* Space above the form */
}
